# How to import dataset in python using library
Written by : Abdul Rehman\
Date: 26.08.2025\
Email: oyeeemani47@gmail.com

In [ ]:
# Step-1
#Importing libraries
import pandas as pd

In [ ]:
# Step-2 
#reading/importing dataset with name
df = pd.read_excel("pandas_01_day6.xlsx")     # write the path if you want to load data from day_01 to day_02.

In [5]:
print(df)

   height  weight favourite_Dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao
..    ...     ...            ...
82    5.4      55          Pasta
83    5.9      75  Karahi Ghosht
84    5.4      61        Biryani
85    6.2      68  Chicken Pulao
86    5.1      96        Biryani

[87 rows x 3 columns]

In [7]:
df.head()

  height  weight favourite_Dish
0    5.8     101  Chicken Pulao
1    6.2      92        Biryani
2    5.9      62  Karahi Ghosht
3    5.9      95  Chicken Pulao
4    5.9      55  Chicken Pulao

In [8]:
df.tail()

   height  weight favourite_Dish
82    5.4      55          Pasta
83    5.9      75  Karahi Ghosht
84    5.4      61        Biryani
85    6.2      68  Chicken Pulao
86    5.1      96        Biryani

In [11]:
df.shape

(87, 3)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   height          87 non-null     object
 1   weight          87 non-null     int64
 2   favourite_Dish  87 non-null     object
dtypes: int64(1), object(2)
memory usage: 2.2+ KB

In [8]:
import pandas as pd
df=pd.read_excel('GD STORE RECIEVABLE.xlsx')
df

             Names  24 June 2025  23 July 2025  20 Aug 2025
0       Haji Sajid        4000.0        2075.0       2075.0
1         Mas Asif        2200.0        1150.0       2090.0
2       Mas Shuban        5920.0        5730.0       1890.0
3         M Idrees       20930.0       23785.0      24995.0
4      Mas Haseeb        12595.0        3730.0       1335.0
5   Mazhar hussain       10830.0       17690.0      17400.0
6        Ali Akbar        4835.0        4235.0       3220.0
7          M Imran        3285.0           NaN       2565.0
8    Sajad Mehmood        7065.0       12875.0      15365.0
9   Zahoor hussain       13950.0       14840.0       7595.0
10        M Rizwan       11780.0       12010.0      13340.0
11         M Ikram       18795.0       24585.0       9000.0
12     Raja ismail       14380.0       16500.0      15700.0
13     Raja akhtar        3825.0        2645.0       2525.0
14   Quddous Kiani       21295.0       21295.0      15395.0
15     Azaad Kiani       14925.0       17740.0      14325.0
16     Raja Kaleem       22935.0       13665.0      13665.0
17     Raja masood        7705.0        7705.0       7705.0
18    Ushrat Kiani       16510.0       16510.0      16510.0
19        M Noshad        8025.0           NaN          NaN
20          M Arif       15055.0       14065.0      13080.0
21        M lateef        7780.0        6470.0       3105.0
22     Raja Wazeer        7820.0        6580.0       5780.0
23     Raja Safdar       26560.0       22600.0      25500.0
24      Sufi Naeem        5000.0        1595.0          NaN
25       M Mushtaq        6655.0           NaN       5150.0
26  Basheer Minhas        3125.0        3125.0       1705.0
27     Ameer Ahmad         805.0         805.0       3995.0
28   Talib hussain        7555.0        7510.0       6100.0
29  Dukhter Qurban        8680.0        8680.0          NaN
30  M Shahid Azaad       11600.0       13000.0      13000.0
31        M Ashraf        2755.0        2175.0       2425.0
32       Humaiyun        17240.0       18530.0      15620.0
33         M Talat       18400.0       13910.0      14430.0
34     Haji Sheraz        5395.0           NaN          NaN
35        M Nauman       11480.0       12230.0       8240.0
36  Mazhar hussain       11540.0       11540.0      11540.0
37         M Sajad       17525.0       15290.0      15290.0
38   Sakhawat Huss       41655.0       39835.0      30608.0
39             NaN           NaN           NaN          NaN
40           Total      452410.0      416705.0     362263.0

In [9]:
df.head()

         Names  24 June 2025  23 July 2025  20 Aug 2025
0   Haji Sajid        4000.0        2075.0       2075.0
1     Mas Asif        2200.0        1150.0       2090.0
2   Mas Shuban        5920.0        5730.0       1890.0
3     M Idrees       20930.0       23785.0      24995.0
4  Mas Haseeb        12595.0        3730.0       1335.0

In [12]:
df.sort_index(ascending=False)
df

             Names  24 June 2025  23 July 2025  20 Aug 2025
0       Haji Sajid        4000.0        2075.0       2075.0
1         Mas Asif        2200.0        1150.0       2090.0
2       Mas Shuban        5920.0        5730.0       1890.0
3         M Idrees       20930.0       23785.0      24995.0
4      Mas Haseeb        12595.0        3730.0       1335.0
5   Mazhar hussain       10830.0       17690.0      17400.0
6        Ali Akbar        4835.0        4235.0       3220.0
7          M Imran        3285.0           NaN       2565.0
8    Sajad Mehmood        7065.0       12875.0      15365.0
9   Zahoor hussain       13950.0       14840.0       7595.0
10        M Rizwan       11780.0       12010.0      13340.0
11         M Ikram       18795.0       24585.0       9000.0
12     Raja ismail       14380.0       16500.0      15700.0
13     Raja akhtar        3825.0        2645.0       2525.0
14   Quddous Kiani       21295.0       21295.0      15395.0
15     Azaad Kiani       14925.0       17740.0      14325.0
16     Raja Kaleem       22935.0       13665.0      13665.0
17     Raja masood        7705.0        7705.0       7705.0
18    Ushrat Kiani       16510.0       16510.0      16510.0
19        M Noshad        8025.0           NaN          NaN
20          M Arif       15055.0       14065.0      13080.0
21        M lateef        7780.0        6470.0       3105.0
22     Raja Wazeer        7820.0        6580.0       5780.0
23     Raja Safdar       26560.0       22600.0      25500.0
24      Sufi Naeem        5000.0        1595.0          NaN
25       M Mushtaq        6655.0           NaN       5150.0
26  Basheer Minhas        3125.0        3125.0       1705.0
27     Ameer Ahmad         805.0         805.0       3995.0
28   Talib hussain        7555.0        7510.0       6100.0
29  Dukhter Qurban        8680.0        8680.0          NaN
30  M Shahid Azaad       11600.0       13000.0      13000.0
31        M Ashraf        2755.0        2175.0       2425.0
32       Humaiyun        17240.0       18530.0      15620.0
33         M Talat       18400.0       13910.0      14430.0
34     Haji Sheraz        5395.0           NaN          NaN
35        M Nauman       11480.0       12230.0       8240.0
36  Mazhar hussain       11540.0       11540.0      11540.0
37         M Sajad       17525.0       15290.0      15290.0
38   Sakhawat Huss       41655.0       39835.0      30608.0
39             NaN           NaN           NaN          NaN
40           Total      452410.0      416705.0     362263.0